@use 'colors' as *;
@use 'buttons' as *;
@use 'fades' as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(2px);
}

.modal-container {
  background: var(--bg-secondary);
  border: 1px solid var(--border-primary);
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  max-width: 450px;
  width: 90%;
  max-height: 90vh;
  overflow: auto;
  transform: scale(1);
  transition: all 0.3s ease;

  .modal-header {
    padding: 1rem 1.6rem;
    border-bottom: 1px solid var(--text-primary);
  }

  .modal-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
  }

  .modal-body {
    padding: 1rem 1.6rem;
    .modal-message {
      width: 100%;
      line-height: 1.5;
      margin: 0;
      font-size: 1rem;
    }
  }

  .modal-footer {
    padding: 0 1rem 1.6rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;
  }

  .modal-btn {
    padding: 10px 20px;
    font-weight: 500;
    font-size: 0.9rem;
    transition: all 0.2s ease;
    border: none;
    min-width: 80px;
    cursor: pointer;
  }

  .modal-btn-cancel {
    @include button-cancel;
  }

  .modal-btn-confirm {
    @include button-danger;
  }
}

/* Responsive */
@media (max-width: 640px) {
  .modal-container {
    width: 95%;
    margin: 20px;
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    padding-left: 16px;
    padding-right: 16px;
  }

  .modal-footer {
    flex-direction: column-reverse;
  }

  .modal-btn {
    width: 100%;
  }
}
