@use '_colors.scss' as *;
@use '_fades.scss' as *;

.home-main {
  margin: 0 auto;
  .products {
    padding: 3rem 2rem;
    animation: fadeup 0.6s;
  }
}

// Responsive design
@media (max-width: 768px) {
  main.home-main {
    width: 100%;
  }
}
