@use "_colors.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.5;
  background: $color-bg-primary;
  color: $color-text-primary;
}
